body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.Btns {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #efe;
    padding: 20px;
}

.Btn {
    padding: 10px;
    display: inline-block;
}

.Btn .symbol {
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    background: #ddd;
    color: #999;
    font-size: 17px;
}
